/* FONTS */
.ffont{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}


/* COLORS */
.yellowbg{
    background-color: gold;
}
.bg-gray{
    background-color: gray;
}

hr{
    background-color: black;
}


/* FOOTER */
