body{
    background-color: azure;
}

.navbar{
    font-weight: bold;
    .container{
        .navbar-brand{
            color: white;
        }
        #navbarNav{
            .active{
                color: white;
                opacity: 1 !important;
            }
            .nav-link{
                color: white;
                opacity: .7;
            }
        }
    }
}

.index-bg, .about-bg, .post-bg, .contact-bg {
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.index-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/home-bg.jpg");
}

.about-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/about-bg.jpg");
}

.post-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/blog-image.jpg");
}

.contact-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/contact-bg.jpg");
}

.global-bg{
    div{
        h1, h3, p{
            color: white;
            font-weight: bold;
        }
        h3, p{
            opacity: .7;
        }
    }
}

.post{
    p{
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

.content{
    h2{
        font-weight: bold;
    }
    .btn{
        border: none;
        background-color: #17a2b8;
        border-radius: 0;
    }
    .mb-3{
        border: none;
        opacity: .7;
        input, textarea{
            border: none;
            border-radius: 0;
            border-bottom: 1px solid gray;
            background: none;
        }
    }
}

.index-icons {
    font-size: 3em;
    gap: 3em;
    justify-content: center;
}